// GLOBAL
// ------

* {
  box-sizing: border-box;
}

html {
  background-color: #222;
}

// UTILITY
// -------

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

// APP STYLES
// ----------

.gallery {
  --image-width: 40vw;
  --image-height: calc( var(--image-width) * 0.56 );
  --unit-width: calc( var(--image-width) + var(--gap) );
  --unit-height: calc( var(--image-height) + var(--gap) );
  --border-radius: calc( var(--image-width) * 0.06 );
  --gap: 2rem;
  --dx: 0;
  --dy: 0;

  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  overflow: hidden;
  
  & > * {
    grid-area: stack;
    width: 100vw;
    height: 100vh;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, var(--image-width));
  grid-template-rows: repeat(5, var(--image-height));
  gap: var(--gap);
  place-content: center;
  padding: var(--gap);

  &[data-flipping] {
    transition: none;
  }
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: #333;
  opacity: 0.5;

  &:hover, &[data-selected] {
    opacity: 1;
  }

  button::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery[data-mode="detail"] &[data-selected] {
    visibility: hidden;
  }
}

.detail-view {
  position: relative;
  overflow: hidden;
  background: none;
  
  // Gallery mode
  .gallery[data-mode="gallery"] & {
    width: var(--image-width);
    height: var(--image-height);
    border: 1px solid white;
    border-radius: var(--border-radius);
  }

  // Detail mode or transitioning
  .gallery[data-mode="detail"] &,
  .gallery[data-mode="gallery"] &[data-transitioning] {
    width: 100vw;
    height: 100vh;
    border: none;
  }

  // Pseudo button
  // -------------

  button::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  // Image
  // -----

  img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery[data-mode="detail"] & img,
  .gallery[data-mode="gallery"] &[data-transitioning] img {
    display: block;
  }

  // Overlay
  // -------

  // Base
  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s;
    
    h2 {
      margin: 0.2rem 0;
      color: white;
      text-shadow: 1px 1px #000000;
    }
    
    time {
      color: black;
      text-shadow: 1px 1px white;
    }
  }

  &[data-transitioning] .overlay {
    opacity: 0;
  }

  // Gallery or transitioning from gallery to detail
  .gallery[data-mode="gallery"] & .overlay,
  .gallery[data-mode="detail"] &[data-transitioning] .overlay {
    justify-content: flex-end;
    padding: calc( var(--gap) / 2 );

    h2 {
      font-size: 1rem;
      font-weight: 600;
    }
    
    time {
      font-size: 0.6rem;
      font-weight: 500;
    }
  }

  // Detail or transitioning from detail to gallery
  .gallery[data-mode="detail"] &:not([data-transitioning]) .overlay,
  .gallery[data-mode="gallery"] &[data-transitioning] .overlay {
    justify-content: center;
    padding: calc( var(--gap) * 2 );

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      order: 1;
    }

    time {
      font-size: 1rem;
    }

    time::before {
      content: 'Published on ';
    }
  }
}